.Card {
    background-color: brown;
}

.CardSelected {
    padding-top: 20px;
}

.Hand {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: green;
}

/* .Board {

} */