.Board {
    background-color: green;
    height: 2000px;
    width: 2000px;
}

.BoardCards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: red;
    width: 400px;
}

.Deck {

}

.Pile {
    padding-left: 20px;
}

.Players {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: pink;
    width: 1000px;
}

.Player {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: yellow;
    width: 1000px;
}

.Card {
    background-color: brown;
}

.CardSelected {
    padding-top: 20px;
}

.Hand {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: green;
}

.Board {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: blue;
}

/* .Player {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: red;
} */
